<form method="post" action="/students/<%= @student.id %>">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  value="<%= @student.first_name %>"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  value="<%= @student.last_name %>"
  />

  <label for="house-field">House:</label>
  <select name="house_id" id="house-field">
    <option value="1" <%= "selected" if @student.house_id == "1" %>>Gryffindor</option>
    <option value="2" <%= "selected" if @student.house_id == "2" %>>Hufflepuff</option>
    <option value="3" <%= "selected" if @student.house_id == "3" %>>Ravenclaw</option>
    <option value="4" <%= "selected" if @student.house_id == "4" %>>Slytherin</option>
  </select>

  <label for="age-field">Age:</label>
  <input
  type="text"
  name="age"
  id="age-field"
  value="<%= @student.age %>"
  />

  <input type="submit" value="Add Student">
</form>
