<form method="post" action="/students/<%= @student.id %>">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  value="<%= @student.first_name %>"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  value="<%= @student.last_name %>"
  />

  <label for="house-field">House:</label>
  <select name="house" id="house-field">
    <option value="Gryffindor" <%= "selected" if @student.house == "Gryffindor" %>>Gryffindor</option>
    <option value="Hufflepuff" <%= "selected" if @student.house == "Hufflepuff" %>>Hufflepuff</option>
    <option value="Ravenclaw" <%= "selected" if @student.house == "Ravenclaw" %>>Ravenclaw</option>
    <option value="Slytherin" <%= "selected" if @student.house == "Slytherin" %>>Slytherin</option>
  </select>

  <label for="age-field">Age:</label>
  <input
  type="text"
  name="age"
  id="age-field"
  value="<%= @student.age %>"
  />

  <input type="submit" value="Add Student">
</form>
